
#wrapper
{   
    
    background-color: #E3E6F0;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    position: fixed;
    
}

a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

p
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;

}

h1
{
   
    color : white;
    font-family: cursive;
}

.hLinks
{
    color: white;
}

.hTaggar
{

    color: white;
    font-size: 40px;

}

#inheader
{
    margin-top: -50px;
}

#header
{
    background-color: #2F477A;
    width: 100%;
    height: 100px;
    position: fixed;
    margin-top: -70px;
}

#searchDiv
{
    z-index: 2;
    position:absolute;
    margin-top: -37px;
    margin-left: 990px;
    
}

#searchLinkDiv
{
    z-index: 2;
    margin-top: -45px;
    margin-left: 970px;
}

#editLinkDiv
{
    margin-left: 660px;
    margin-top: -38px;
}

#btnSearch
{
    margin-left: 5px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

#searchResultDiv
{
    z-index: 2;
    margin-top: -540px;
    margin-left: 965px;
    height: 100px;
    width: 330px;
    font-style: italic;
    font-size: 20px;
    position: absolute;
    opacity: 0.6;
    border-radius: 20px;
    background-color: #232323;
}

#searchResult
{
    font-size: 44px;
}

#divPicture
{
    height: 600px;
    width: 100%;
    z-index: 1;
}

#couplepic
{

    height: 100%;
    width: 100%;
}

#LogginLink
{
    font-size: 60px;
}

#RegisterLink
{
    font-size: 60px;
}

#IndexRegister
{
    margin-left: 210px;
    height:  100px;
    width: 240px;
    margin-top: -85px;
}

#IndexLoggin
{   
    margin-top: -350px;
    margin-left: 480px;
}

#exUserOne
{
    margin-left: 155px;
}

#exUserTwo
{
    margin-top: -235px;
    margin-left: 390px;
}

#Register
{
    padding-left: 30px;
    padding-bottom: 100px;
    background-color: #E3E6F0;
    height:  250px;
    width: 200px;
    margin-top: -270px;
}

.RegisterBoxes
{
    margin: 2px;

}

.LogginBoxes
{
    margin: 3px;
}

#Loggin
{
    margin-top: -40px;
    margin-left: 530px;
    margin-bottom: 20px;
}

#LogOut
{

    margin-top: 50px;
    margin-left: 90%;
    
}

#EditDiv
{

    padding-left: 30px;
    background-color: #E3E6F0;
    height:  150px;
    width: 200px;
    z-index: -1;
    margin-top: -550px;

}

#EditBox
{

    height: 150px;
    width: 200px;

}

#Loggin, input
{
   
    border-radius: 5px;
}

#infoDiv    
{
    height: 300px;
    width: 200px;
    margin-top: -340px;
    margin-left: 30px;
    position: absolute;
    background-color: #232323;
    z-index: 2;
    opacity: 0.6;
    border-radius: 20px;
    
}

#infoDiv p
{
    font-size: 16px;
}

#loadFriendsDiv
{
    margin-left: 840px;
    margin-top: -45px;
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 50px;
}

#backToProfileDiv
{
    height: 600px;
    width: 200px;
    margin-top: -70px;
    margin-left: 840px;
    position: absolute;
    z-index: 2;
}

#friendLinkDiv
{
    z-index: 2;
    margin-top: 310px;
    margin-left: 710px;
}

#friendsDiv
{
    margin-top: -520px;
    margin-left: 340px;
    height: 400px;
    width: 220px;
    font-style: italic;
    font-size: 20px;
    background-color: #232323;
    position: absolute;
    opacity: 0.6;
    border-radius: 20px;

}

#pendingDiv
{
    margin-top: -520px;
    margin-left: 40px;
    height: 400px;
    width: 220px;
    font-style: italic;
    font-size: 20px;
    background-color: #232323;
    position: absolute;
    opacity: 0.6;
    border-radius: 20px;

}

#friendRequestDiv
{
    z-index: 2;
    position: absolute;
    margin-left: 1000px;
    height: 10px;
    width: 200px;
    margin-top: -70px;
}

#acceptFriendLink
{
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
}

#linkStyles
{
    font-size: 27px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

#postDiv
{
    width: 300px;
    height: 120px;
    z-index: 2;
    border: 1px solid black;
    background-color: #232323;
    margin-left: 300px;
    margin-top: -520px;
    position: absolute;
    opacity: 0.6;
}

#taPost
{
    height: 100%;
    width: 83%;
    background-color: #232323;
    color: white;
}

textarea
{
    color: white;
}

#wallDiv
{
    width: 300px;
    height: 340px;
    z-index: 2;
    border: 1px solid black;
    background-color: #232323;
    margin-left: 300px;
    margin-top: -375px;
    position: absolute;
    opacity: 0.6;
    border-radius: 20px;

}

