@model datebook.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

@Html.ActionLink("Tillbaka till startsidan", "Index", "Home")

