@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">

        <div id="header">
            <h2 class="hTaggar">datebook.com</h2>
            @Html.ActionLink("Till användare", "Index", "User")
        </div>
    </div>
    @RenderBody()    
</body>
</html>
